* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  max-width: 32rem;
  margin: 100px auto;
  padding: 3rem 2rem;
  border: 2px solid #fff;
}
#sports {
  border: 1px solid #fff;
  list-style: none;
  text-align: center;
}
#sports li {
  padding: 1rem;
  border-bottom: 1px solid #fff;
  font-size: 25px;
}
@media (max-width: 678px) {
  .container {
    max-width: 25rem;
  }
}
